
/*
 * Layout
 */

.infinity-layout .flexslider {
	border: 0px;
	border-radius: 0px;
	position: relative;
}
.infinity-layout .flex-caption {
	bottom: 0;
	position: absolute;
	width: inherit;
	padding-top: 15px;
	padding-bottom: 15px;
}
.infinity-layout .flex-caption p,
.infinity-layout .flex-caption h3 {
	padding-left: 15px;
	padding-right: 15px;
}
.infinity-layout .flex-caption h3 a {
	color: #FFF;
}

/*
 * Design
 */

.infinity-design .flexslider .slides img {
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.infinity-design .flex-caption {
	background-image: url('../images/bg.png');
	color: #FFF;
	text-shadow: 0 1px 0 #000000;
	border-top: 1px solid #545353;
}
.infinity-design .flex-caption h2 {
	color: #EFEFEF;
}

/*
 * Responsive
 */

@media only screen and (max-width: 768px) {

	.infinity-wp .flex-caption {
		display: none;
	}

}
